.mat-toolbar {
  width: 100%;
  background: #758893;
  z-index: 3;
}

.brand {
  color: white;
  text-align: center;
  float: right;
}

.barlow-font {
  font-weight: lighter;
  font-family: 'Barlow', sans-serif;
  font-size: larger;
  font-variant: all-small-caps;
  color: #bcd1dd;
}

.logo-icon {
  color: #bcd1dd;
  float: right;
  margin-top: 4px;
  margin-left: 2px;
}

.menu-icon{
  color: white;
  height: 20px;
}

.logo-div {
  width: 100%;
}


