<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
    <mat-icon class="logo-icon">menu</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/home']">Home</button>
      <button mat-menu-item [routerLink]="['/jobSearch']">Job Search</button>
    </mat-menu>

  <div class="logo-div">
    <mat-icon class="logo-icon">work_outline</mat-icon>
    <span class="brand barlow-font" [routerLink]="['/home']">Coolest Jobs </span>
  </div>
</mat-toolbar>
