<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="job-preview-card">
    <mat-card-header class="card-header">
      <mat-card-title class="barlow-font title-color">{{job?.title}}</mat-card-title>
      <div mat-card-avatar class="header-image" *ngIf="imageUrl else elseDummyLogo">
        <img class="company-logo" src="{{imageUrl}}" alt="company-logo">
      </div>
      <ng-template #elseDummyLogo>
        <div mat-card-avatar class="header-image">
          <mat-icon class="card-icons">wallpaper</mat-icon>
        </div>
      </ng-template>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="left" gdGap="10px 10px" class="job-info">
        <div fxLayout="row"><mat-icon class="card-icons"> business</mat-icon><h4 class="company-name">{{job?.company_name}}</h4></div>
        <div fxLayout="row"><mat-icon class="card-icons"> location_on</mat-icon><h5 class="company-street">{{job?.street}}<span *ngIf="job?.street != null && (job?.street || '').length > 0">, </span></h5> <h5 class="company-place"> {{job?.place}}</h5></div>
        <div fxLayout="row"><mat-icon class="card-icons">calendar_today</mat-icon><h5 class="company-street">Posted on: {{getFormatedDate(job?.publication_date)}}</h5></div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="job-details-card">
    <mat-card-content>
      <p [innerHTML]="job?.template_text"></p>
    </mat-card-content>
  </mat-card>
</div>
