<div fxLayout="row" fxLayoutAlign="center start" gdGap="10px 10px" gdAlignRows="space-evenly center" gdColumns="repeat(auto-fill, 332px)">
  <mat-card class="job-preview-card" *ngFor="let job of jobs">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="header-image" *ngIf="job.images != null && job.images[0] != null; else elseDummyLogo">
        <img class="company-logo" src="{{job.images[0].url}}" alt="company-logo">
      </div>
      <ng-template #elseDummyLogo>
        <div mat-card-avatar class="header-image">
          <mat-icon class="card-icons">wallpaper</mat-icon>
        </div>
      </ng-template>
      <mat-card-title class="barlow-font title-color">{{job?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="left" gdGap="10px 10px"  class="job-info">
        <div fxLayout="row"><mat-icon class="card-icons"> business</mat-icon><h4 class="company-name">{{job?.company_name}}</h4></div>
        <div fxLayout="row"><mat-icon class="card-icons"> location_on</mat-icon><h5 class="company-place"> {{job?.place}}</h5></div>
        <div fxLayout="row"><mat-icon class="card-icons">calendar_today</mat-icon><h5 class="company-street">Posted on: {{getFormatedDate(job?.publication_date)}}</h5></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-div">
      <button class="jobdetails-button barlow-font" [routerLink]="['/jobDetails', job.job_id]">View Offer</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
