.job-preview-card {
  width: 300px;
  background: #e2ebf0;
  border-radius: 15px;
}

.mat-card-header {
  border-bottom-color: #536b78;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.barlow-font {
  font-weight: normal;
  font-family: 'Barlow', sans-serif;
  font-variant: all-small-caps;
  line-height: 15px;
}

.card-header {
  margin-bottom: 10px;
}

.jobdetails-button {
  color: white;
  background: #536b78;
  border: none;
}

.title-color {
  color: #536b78;
}

.job-info {
  line-height: 15px;
  margin-bottom: 3px;
  margin-left: 53px;
}

.company-logo {
  width: 50px;
  float: left;
  object-fit: cover;
}

.job-list {
  margin-top: 80px;
}

.jobdetails-button {
  background-color: #536b78;
  border: none;
  height: 25px;
  float: right;
  font-weight: normal;
  border-radius: 7px;
}

.company-name {
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: lighter;
  font-variant-caps: all-small-caps;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-variant: all-small-caps;
}

.company-street {
  margin-left: 5px;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-variant: all-small-caps;
  font-weight: lighter;
  margin-bottom: 0;
}

.company-place {
  margin-left: 5px;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-variant: all-small-caps;
  font-weight: lighter;
  margin-top: 0;
}

.card-icons{
  color: #536b78;
}

