.page-wrapper {
  position: relative;
}

.header-content-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
}

.content-area {
  position: relative;
  margin-top: 90px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

