<div class="page-wrapper">
  <div class="header-content-wrapper">
    <div class="fixed-header"><app-toolbar></app-toolbar></div>
  </div>
  <div class="content-area">
    <router-outlet>
    </router-outlet>
  </div>
</div>


