<div class="container-banner">
  <div class="layer1">
    <div class="container-picture">
      <img class="responsive"
           src="assets/pictures/work3.jpg"
           alt="Cornfield">
    </div>
  </div>
  <div class="layer2">
    <div [routerLink]="['/jobSearch']" class="container-content">
      <h1 class="barlow-font looking-text">Looking</h1>
      <h1 class="barlow-font find-text">For</h1>
      <h1 class="barlow-font cool-text">Cool</h1>
      <h1 class="barlow-font job-text">Jobs?</h1>
    </div>
  </div>
</div>

