.container-picture {
  height: 600px;
  padding-bottom: 20px;
  width: 100%;
}

.container-banner {
  height: 600px;
  display: grid;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
}

.local-text {
  padding-top: 2rem;
}

.barlow-font {
  color: white;
  font-weight: bolder;
  font-family: 'Barlow', sans-serif;
  font-variant: all-petite-caps;
}

.responsive {
  height: 600px;
  width: inherit;
  object-fit: cover;
}

.container-content {
  padding-top: 7rem;
  padding-left: 7rem;
}

.looking-text{
  font-size: 4.2rem;
  margin:0;
  line-height: 1;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.find-text{
  font-size: 4.2rem;
  margin:0;
  line-height: 1;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.cool-text {
  font-size: 4.2rem;
  margin:0;
  line-height: 1;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.job-text {
  padding-bottom: 2rem;
  font-size: 4.2rem;
  line-height: 1;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
